/* https://htmlcolors.com/color-picker */
.element {
    color: transparent;
    color: #00f;
    color: #0000FF;
    color: #0000FF26;
    color: rgb(0, 0, 255);
    color: rgba(0, 0, 255, 0.25);
    color: hsl(240, 100%, 50%);
    color: hsla(240, 100%, 50%, 0.25);
    color: hsla(240, 100%, 50%, 0.25);
    color: hwb(240, 0%, 0%);
}
